a.btn.btn-primary.btn-sm {
    float: right;
}

.modal-content {
    font-size: 12px;
}

label {
    margin-top: 5px;
}

.modal-body {
    margin-bottom: 55px;
}

section.content {
    margin-bottom: -65px;
}

.modal-footer.view {
    margin-top: -69px;
}

.modal-footer.sua {
    margin-top: 26px;
}

.modal-content.sua {
    height: 535px;
}

.IdInDB {
    display: none;
}

a.btn.btn-primary.btn-flat.btn-sm.importtb {
    margin-right: 5px;
}

.filter-nttu {
    margin-left: 15px;
}

 a.btn-them.btn.btn-primary.btn-flat.btn-sm{

 background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
 background-size: 400%;
 border-radius: 30px;
}
a.btn-them.btn.btn-primary.btn-flat.btn-sm:hover {
 animation: animate 8s linear infinite;
}
@keyframes animate {
 0% {
  background-position: 0%;
 }
 100% {
  background-position: 400%;
 }
}
a.btn-them.btn.btn-primary.btn-flat.btn-sm:before {
 content: '';
 position: absolute;
 top: -5px;
 bottom: -5px;
 right: -5px;
 left: -5px;
 z-index: -1;
 background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
 background-size: 400%;
 border-radius: 40px;
 filter: blur(20px);
 opacity: 0;
 transition: 0.5s;
}
a.btn-them.btn.btn-primary.btn-flat.btn-sm:hover:before {
 filter: blur(20px);
 opacity: 1;
 animation: animate 8s linear infinite;
}

/* calculator */

.main {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    padding: 15px 10px;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.18);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px
}

.display {
    position: relative;
    width: 80%;
    height: 80px;
    margin-bottom: 10px
}

.display #result {
    font-size: 2em
}

.buttons {
    margin-top: 20px;
    width: 100%
}

.buttons button {
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 10px;
    background: none;
    border: none;
    outline: none;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.3em;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1)
}

.buttons button:hover {
    background: rgba(0, 0, 0, 0.2)
}

#equalTo {
    width: 125px;
    background: #58D68D
}

#clear {
    background: #FF8A65
}

.dark_mode_btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    cursor: pointer;
    background: none;
    border: none;
    outline: none
}

.dark_mode_active {
    background: #1c1c25
}

.dark_mode_active button {
    color: #ddd
}

.dark_mode_active #clear,
#equalTo {
    color: #000
}

.dark_mode_active #result {
    color: #ddd
}

.dark_mode_active #history {
    color: #ddd
}

#history {
    position: absolute;
    bottom: 5px;
    right: 0
}

.modal-content.calculator {
    width: 344px;
    margin-left: 100px;
}